.column{
    background-color: var(--COLOR-GRAY-DARK);
    min-height: 20rem;
    color: #ffffff;
    max-width: 20rem;
    margin: 0 1rem;
    width: 33%;
    border-radius: 4px;
    padding: 0.25rem;
        border: dashed transparent 4px
}

.column.drop{
    border: dashed white 4px
}

.titleWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.titleWrapper button{
    all: unset;
    color: black;
    background-color: white;
    border-radius: 4px;
    padding: 0.5rem;
    height: fit-content;
    cursor: pointer;
}

.titleWrapper button:hover{
    background-color: var(--COLOR-GRAY-LIGHT);
}

.Modal{
    position: absolute;
    background: rgb(0, 0, 0,0.3 );
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.ModalContent{
    background: white;
    position: absolute;
    z-index: 1;
    padding: 1rem;
    height: 3rem;
    width: 20rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}