:root {
  --COLOR-GRAY: #333333;
  --COLOR-GRAY-LIGHT: #cccccc;
  --COLOR-GRAY-DARK: #222222;
  --COLOR-ONGOING: #98c1d9;
  --COLOR-DONE: #ee6c4d;
  font-family: Arial, Helvetica, sans-serif ;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}